@use "variables" as *;

.primary-btn {
  display: inline-block;
  padding: $padding-btn;
  cursor: pointer;
  font-size: $font-size-btn;
  font-weight: bold;
  color: $color-white;
  text-decoration: none;
  border: none;
  border-radius: $border-radius-btn;
  background: linear-gradient(45deg, $color-primary, $color-gradient-end);

  &:hover {
    box-shadow: $box-shadow-hover;
  }
}